<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
  <script src="{{ "upup.min.js" | absURL }}"></script>
  <script src="{{ "upup.sw.min.js" | absURL }}"></script>
  <script>
  UpUp.start({
    {{ with .Site.Params.cacheVersion }}'cache-version': '{{ . }}',{{ end }}
    'content-url': '/'
    {{ with .Site.Params.assets }},'assets': {{ . }} {{ end }}
  });
  </script>
</body>
</html>
